.DS_Store
.github
.gitignore
.eslintrc
.eslintignore
.nyc_output
coverage
npm-debug.log
build.js
CONTRIBUTING.md
examples-typescript.js
examples-typescript.ts
index-browser.js
jsconfig.json
pre-push.js
test-browser-server.js
test-browser.js
test-one.js
test-default.mjs
test-exports.mjs
test.cjs
*.test.js
tsconfig.json
.coveralls.yml
